 body {

     justify-items: center;
     margin-top: 20%;
     background-color: rgb(4, 4, 33);
 }

 .HexAnimate {

     font-size: 45px;
     margin: 0px 10px 10px 10px;
     width: 165px;
     background-color: white;
      
    



     animation: animateLable;
     animation-duration: 6s;
     animation-delay: 2s;
     animation-timing-function: ease-out;

 }

 @keyframes animateLable {

     0% {
         margin-left: 80%;
         transform: rotateZ(360deg);
         padding-top: 70px;
         height: 140px;
         border-radius: 110px;
         transition: ease;
          

     }

     20% {


         height: 120px;
         border-radius: 82px;

     }

     60% {


         height: 80px;
         border-radius: 62px;

     }

     80% {


         height: 50px;
         border-radius: 37px;
     }

     100% {

         margin-left: 0%;


     }
 }

 .AnimateClick{
 
animation: clicked;
     animation-duration: 6s;
     animation-delay: 1s;
     animation-timing-function: ease-out;
     
     
   

 }
 
 @keyframes clicked{

0%{
height:60px;
 padding-top:5px;
 background-color: rgb(9, 190, 255);
}

20%{
   height:65px;
   padding-top:15px;
   background-color:  rgb(9, 190, 255);
}
 

40%{
   height:75px;
   padding-top:22px;
  background-color:  rgb(9, 190, 255);
}

60%{
   height:65px;
   padding-top:15px;
   background-color:   rgb(9, 190, 255);
}
80%{
   height:60px;
   padding-top:5px;
   background-color:  rgb(9, 190, 255);
}

100%{
    height:52px;
     background-color: rgb(9, 190, 255);
 
}


 }

 .HexAnimate:hover{
    cursor:pointer;
    background-color:black;
    color:rgb(24, 112, 120);
    font-weight:solid;
 }
  

 .clickMe{
    font:50px;
    color:white;
    margin-top:40px;
    cursor:pointer;
     
 }